.study_score{
    position:fixed; 
    z-index:99999 !important;
    border-radius:10px; 
    z-index: 99; 
    left: 10px;
    top:200px; 
    background-color:#CCC;
}

#resetScore{
    margin-left: 10px; 
    margin-right: 10px
}
