.study_score{
    position:fixed; 
    z-index:99999;
    border-radius:10px; 
    margin:auto;
    top:100px; 
    right:0;
    background-color:#CCC;
    padding: 5px;
}

#resetScore{
    margin-left: 10px; 
    margin-right: 10px
}

.multi-choice-item{
    cursor: pointer;
}

.correct {
    border: 2px solid GREEN;
    border-radius: 10px;
}

.incorrect {
    border: 2px solid RED;
    border-radius: 10px;
}

.fail {
    color: RED;
}

.pass {
    color: GREEN;
}